@model IEnumerable<University_MVC_.Deparments>

@{
    ViewData["Title"] = "Index";
}
@{
    if (ViewBag.Error != null)
    {
        <div class="alert alert-dismissible alert-secondary">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-center">@ViewBag.Error</strong>
        </div>
    }
}

<head>
    <style>
        body {
            background-image: url('images/wallpaperflare.com_wallpaper.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .bg-mydark {
            opacity: 0.8;
        }

        .text-mybright {
            opacity: 1;
            color: black;
        }
    </style>
</head>
<div class="bg-light text-center bg-mydark">
    <h1 class="text-center text-mybright">Кафедри</h1>

    <p class="text-center text-mybright">
        @if (User.IsInRole("admin")) 
        {
            <a asp-action="Create">Створити нову кафедру</a>
        }
    </p>
</div>
<table class="table jumbotron bg-mydark">
    <thead class="text-mybright">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-mybright">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Групи</a>
                    @if (User.IsInRole("admin")) { 
                <a> | </a><a asp-action="Edit" asp-route-id="@item.Id">Редагування</a> <a> | </a><a asp-action="Delete" asp-route-id="@item.Id">Видалення</a>
                     }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div id="chart1"></div>
</div>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('/api/Charts/JsonData', function (jsonData) {
                var data = google.visualization.arrayToDataTable(jsonData, false);
                var option = {
                    title: "Співвідношення студентів на кафедрах",
                    width: 400,
                    height: 300
                }
                var chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
}