@model IEnumerable<University_MVC_.Students>

@{
    ViewData["Title"] = "Index";
}

<h1>Студенти за групою @ViewBag.GroupName</h1>

<p>
    @Html.ActionLink("Додати нового студента", "Create", new { groupId = ViewBag.GroupId })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @{ string birth = item.Birthday.ToString().Substring(0, item.Birthday.ToString().Length - 7);}
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => birth)
                </td>

                <td>
                    @Html.ActionLink("Редагування", "Edit", new { id=item.Id , groupId = ViewBag.GroupId }) |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалення</a>
                </td>
            </tr>
        }
    </tbody>
</table>
