@model IEnumerable<University_MVC_.LessonToschedule>

@{
    ViewData["Title"] = "Index";
}

    <h1>Предмети</h1>

    <p>
        @Html.ActionLink("Додати пару", "Create", new {Id = ViewBag.SheduleId })
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lesson.Name)
            </td>
            <td>
                <!--<a asp-action="Edit" asp-route-id="@item.Id">Редагування</a> |-->
                @Html.ActionLink("Редагування", "Edit", new { id = item.Id , sheduleId = ViewBag.SheduleId })
                <a asp-action="Delete" asp-route-id="@item.Id">Видалення</a>
            </td>
        </tr>
}
    </tbody>
</table>